<%= render 'common' %>

<div class="container" ng-app="mtdApp">
  <div ng-controller="HostsCtrl">
  <h2>All hosts ({{hosts.length}} applications)</h2>
    <p>
      <button class="ui compact labeled icon button" ng-click="view = 'cards'">
        <i class="user icon"></i>
        Card view
      </button>
      <button class="ui compact labeled icon button" ng-click="view = 'table'">
        <i class="table icon"></i>
        Table view
      </button>
    </p>

    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Filter
      </div>
      <div class="content ui form">
        <div class="four fields">
          <div class="field">
            <label>
              Name
            </label>
            <input type="text" ng-model="search.name" placeholder="Name...">
          </div>
          <div class="field">
            <label>
              LiU-ID
            </label>
            <input type="text" ng-model="search.liuid" placeholder="abcd123...">
          </div>
          <div class="field">
            <label>
              Telephone
            </label>
            <input type="tel" ng-model="search.phone" placeholder="07...">
          </div>
          <div class="field">
            <label>
              Year
            </label>
            <select ng-model="search.year" class="ui">
              <option value="">--Select Option--</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="five fields">
          <div class="field">
            <label>First</label>
            <select ng-model="search.first" ng-options="p.id as p.position for p in positions">
              <option value="">--Select Option--</option>
            </select>
          </div>
          <div class="field">
            <label>Second</label>
            <select ng-model="search.second" ng-options="p.id as p.position for p in positions">
              <option value="">--Select Option--</option>
            </select>
          </div>
          <div class="field">
            <label>Third</label>
            <select ng-model="search.third" ng-options="p.id as p.position for p in positions">
              <option value="">--Select Option--</option>
            </select>
          </div>
          <div class="field">
            <label>Banquet</label>
            <select ng-model="search.banquet" class="ui">
              <option value="">both</option>
              <option value="true">yes</option>
              <option value="false">no</option>
            </select>
          </div>
          <div class="field">
            <label>Member</label>
            <select ng-model="search.member" class="ui">
              <option value="">both</option>
              <option value="true">yes</option>
              <option value="false">no</option>
            </select>
          </div>
        </div>
        <button class="ui button" ng-click="search = {}">
          Reset
        </button>
      </div>
    </div>

    <div class="ui styled fluid accordion">
      <div class="title active">
        <i class="dropdown icon"></i>
        Need
      </div>
      <div class="content active">
        <div class="ui four stackable cards">
          <div class="ui card" ng-repeat="position in positions">
            <div class="content">
              <div class="header">
                {{position.position}}
              </div>
              <div class="description">
                <div class="ui green indicating progress" data-value="1" data-total="{{position.need}}">
                  <div class="bar">
                    <div class="progress"></div>
                  </div>
                  <div class="label">{{position.total}} of {{position.need}}</div>
                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="ui input">
                <label>Edit need</label>
                <input type="number" ng-model="position.need" ng-change="updateNeed(position.id, position.need)" min="0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p ng-if="message.length > 0">
      {{message}}
    </p>

    <div class="ui four stackable cards" ng-if="view == 'cards'">
      <div class="ui card" ng-repeat="host in hosts | orderBy:'id' | filter:search">
        <div class="content">
          <div class="header">
            <i class="icon checkmark" ng-if="host.position"></i>
            <a href="{{host.public_url}}">{{host.name}}, {{host.liuid}}</a>
          </div>
          <div class="meta">
            Year: {{host.year}}, <a href="tel:{{host.phone}}"><%= semantic_icon 'call' %>{{host.phone}}</a>, {{host.banquet ? 'Banquet' : 'No banquet'}}, {{host.member ? 'Member' : 'Not a member'}}
          </div>
          <div class="description">
            <p>
              <strong>Reason</strong><br>
              {{host.reason}}
            </p>
            <p ng-if="host.other">
              <strong>Other</strong><br>
              {{host.other}}
            </p>
            <p ng-if="host.allergies">
              <strong>Allergies</strong><br>
              {{host.allergies}}
            </p>
          </div>
        </div>
        <div class="extra content">
          <p>
            <strong>Positions</strong><br>
            1. {{host.first_text}}<br>
            2. {{host.second_text}}<br>
            3. {{host.third_text}}<br>
          </p>
          <p>
            Assign position:
            <select ng-model="host.position" ng-options="p.id as p.position for p in positions" ng-change="updateHost(host.id, host.position)">
              <option value="">--Select Option--</option>
            </select>
          </p>
        </div>
      </div>
    </div>

    <table class="ui sortable table" ng-if="view == 'table'">
      <thead>
        <tr>
          <th ng-click="predicate = 'id'; reverse = !reverse;" ng-class="{sorted: predicate == 'id', ascending: predicate == 'id' && !reverse, descending: predicate == 'id' && reverse}">
            #
          </th>
          <th ng-click="predicate = 'name'; reverse = !reverse;" ng-class="{sorted: predicate == 'name', ascending: predicate == 'name' && !reverse, descending: predicate == 'name' && reverse}">
            Name
          </th>
          <th ng-click="predicate = 'liuid'; reverse = !reverse;" ng-class="{sorted: predicate == 'liuid', ascending: predicate == 'liuid' && !reverse, descending: predicate == 'liuid' && reverse}">
            LiU-ID
          </th>
          <th ng-click="predicate = 'first'; reverse = !reverse;" ng-class="{sorted: predicate == 'first', ascending: predicate == 'first' && !reverse, descending: predicate == 'first' && reverse}">
            First
          </th>
          <th ng-click="predicate = 'second'; reverse = !reverse;" ng-class="{sorted: predicate == 'second', ascending: predicate == 'second' && !reverse, descending: predicate == 'second' && reverse}">
            Second
          </th>
          <th ng-click="predicate = 'third'; reverse = !reverse;" ng-class="{sorted: predicate == 'third', ascending: predicate == 'third' && !reverse, descending: predicate == 'third' && reverse}">
            Third
          </th>
          <th ng-click="predicate = 'year'; reverse = !reverse;" ng-class="{sorted: predicate == 'year', ascending: predicate == 'year' && !reverse, descending: predicate == 'year' && reverse}">
            Year
          </th>
          <th ng-click="predicate = 'id'; reverse = !reverse;" ng-class="{sorted: predicate == 'id', ascending: predicate == 'id' && !reverse, descending: predicate == 'id' && reverse}">
            Created at
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in hosts | orderBy:predicate:reverse | filter:search">
          <td>
            {{host.id}}
          </td>
          <td>
            {{host.name}}
          </td>
          <td>
            {{host.liuid}}
          </td>
          <td>
            {{host.first_text}}
          </td>
          <td>
            {{host.second_text}}
          </td>
          <td>
            {{host.third_text}}
          </td>
          <td>
            {{host.year}}
          </td>
          <td>
            {{host.created_at | date:'EEE dd MMM yyyy, HH:mm'}}
          </td>
          <td>
            <%= link_to semantic_icon('eye') + 'Public view', '{{host.public_url}}' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
