<%= render 'common' %>

<div class="container" ng-app="mtdApp">
  <div ng-controller="HostsCtrl">
  <h2>All hosts</h2>
    <p>
      <button class="ui compact labeled icon button" ng-click="view = 'cards'">
        <i class="user icon"></i>
        Card view
      </button>
      <button class="ui compact labeled icon button" ng-click="view = 'table'">
        <i class="table icon"></i>
        Table view
      </button>
    </p>

    <p ng-if="message.length > 0">
      {{message}}
    </p>

    <table class="ui sortable table" ng-if="view == 'table'">
      <thead>
        <tr>
          <th ng-click="predicate = 'id'; reverse = !reverse;" ng-class="{sorted: predicate == 'id', ascending: predicate == 'id' && !reverse, descending: predicate == 'id' && reverse}">
            #
          </th>
          <th ng-click="predicate = 'name'; reverse = !reverse;" ng-class="{sorted: predicate == 'name', ascending: predicate == 'name' && !reverse, descending: predicate == 'name' && reverse}">
            Name
          </th>
          <th ng-click="predicate = 'liuid'; reverse = !reverse;" ng-class="{sorted: predicate == 'liuid', ascending: predicate == 'liuid' && !reverse, descending: predicate == 'liuid' && reverse}">
            LiU-ID
          </th>
          <th ng-click="predicate = 'first'; reverse = !reverse;" ng-class="{sorted: predicate == 'first', ascending: predicate == 'first' && !reverse, descending: predicate == 'first' && reverse}">
            First
          </th>
          <th ng-click="predicate = 'second'; reverse = !reverse;" ng-class="{sorted: predicate == 'second', ascending: predicate == 'second' && !reverse, descending: predicate == 'second' && reverse}">
            Second
          </th>
          <th ng-click="predicate = 'third'; reverse = !reverse;" ng-class="{sorted: predicate == 'third', ascending: predicate == 'third' && !reverse, descending: predicate == 'third' && reverse}">
            Third
          </th>
          <th ng-click="predicate = 'year'; reverse = !reverse;" ng-class="{sorted: predicate == 'year', ascending: predicate == 'year' && !reverse, descending: predicate == 'year' && reverse}">
            Year
          </th>
          <th ng-click="predicate = 'id'; reverse = !reverse;" ng-class="{sorted: predicate == 'id', ascending: predicate == 'id' && !reverse, descending: predicate == 'id' && reverse}">
            Created at
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in hosts | orderBy:predicate:reverse">
          <td>
            {{host.id}}
          </td>
          <td>
            {{host.name}}
          </td>
          <td>
            {{host.liuid}}
          </td>
          <td>
            {{host.first}}
          </td>
          <td>
            {{host.second}}
          </td>
          <td>
            {{host.third}}
          </td>
          <td>
            {{host.year}}
          </td>
          <td>
            {{host.created_at | date:'EEE dd MMM yyyy, HH:mm'}}
          </td>
          <td>
            <%= link_to semantic_icon('eye') + 'Public view', '{{host.public_url}}' %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="ui four stackable cards" ng-if="view == 'cards'">
      <div class="ui card" ng-repeat="host in hosts | orderBy:'id'">
        <div class="content">
          <div class="header">
            {{host.name}}, {{host.liuid}}
          </div>
          <div class="meta">
            Year: {{host.year}}, Phone: <a href="tel:{{host.phone}}">{{host.phone}}</a>
          </div>
          <div class="description">
            <p>
              <strong>Reason</strong><br>
              {{host.reason}}
            </p>
            <p ng-if="host.other.length > 0">
              <strong>Other</strong><br>
              {{host.other}}
            </p>
            <p>
              <strong>Positions</strong><br>
              1. {{host.first}}<br>
              2. {{host.second}}<br>
              3. {{host.third}}<br>
            </p>
          </div>
        </div>
        <div class="extra content">
          Assign position:
          <select ng-model="host.position" ng-options="p.id as p.position for p in positions" ng-change="updateHost(host.id, host.position)">
            <option value="">--Select Option--</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
