<section class="info limit-width">
  <h2>Värdposter</h2>
  <p class="lead">
    Som värd har du möjlighet till olika ansvarsområden. Nedan kan du läsa mer om vad varje värdpost innebär.
  </p>

  <h4>Receptionsvärd</h4>
  <p>
    Som receptionsvärd så kommer du stå i receptionen och vara den första personen som mässbesökarna träffar. Du kommer
    att ha uppgifter så som att svara på allmänna frågor, ge ut lunchbiljetter till de som ska ha, gå och möta
    campusbussen för att visa vägen åt Linköpingsstudenter och sköta garderoben. Du kommer alltid att få jobba
    tillsammans med någon annan i receptionen och för att det ska bli en så trevlig upplevelse som möjlig för besökarna
    är det bra om du är välkomnande och glad! Du kommer att jobba lite under båda mässdagarna och du kommer behövas för
    att rigga upp delar av mässområdet kvällen innan.
  </p>

  <h4>Loungevärd</h4>
  <p>
    Loungevärdens jobb är att se över loungen och företagens VIP-rum. Du kan bli tillfrågad att fylla på kaffe, ställa i ordning fika eller hjälpa bankettansvarig att fixa iordning inför den avslutande kvällen. Du kan även behöva svara på frågor av besökarna. De ska alltid se snyggt och rent ut på alla ytor under dagen så om du är hjälpsam och gillar att fixa och dona så är du lougevärden vi vill ha! Du kommer att jobba lite under båda mässdagarna.
  </p>

  <h4>Företagsvärd</h4>
  <p>
    Den största delen av MTD är mässan där företagen ställer ut. Företagen är våra gäster och vi vill att de så lätt som möjligt ska kunna sätta upp sina grejer i Färgeriet och få reda på all nödvändig information så som vart de ska äta lunch, deras inlogg till WiFi och vart de kan hitta StudentExpo. Därför vill vi ha företagsvärnar som kan hjälpa oss med detta! Det är en chans för dig att få komma lite närmare våra häftiga företag.
  </p>
  <p>
    Som företagsvärd kommer du att behöva vara på plats båda dagarna och finnas till hands för ditt/dina företag. Du kommer alltså hjälpa till med montering/nedmontering av företagens monter.
  </p>
  <p>
    Nedmontering av mässan sker parallellt med den sista föreläsningen, vilket innebär att samtliga företagsvärdar kommer att missa denna båda mässdagarna.
  </p>
  <p>
    Det kommer finnas två olika företagsvärdar. Dels kommer det finnas vanliga företagsvärdar och då kommer du behöva hjälpa två eller tre företag och kunna vara tillgänglig för frågor från dem. Våra guldsponsorer däremot kommer få en egen företagsvärd och som en sådan värd kommer du bli lite extra tajt med det företaget och du förväntas kunna lite om företaget så att du vid behov kan hjälpa dem i deras monter.
  </p>

  <h4>Chaufför</h4>
  <p>
    Eftersom det kommer komma föreläsare från alla håll i vårt avlånga land så behöver vi en chaufför som kan välkomna dem redan vid tågstationen och köra dem till campus. När det är dags för föreläsarna att ge sig av ska du lämna av dem på stationen igen men du ska även vara tillgänglig under dagarna för eventuella andra åkturer. Det är naturligtvis bra om du har lite lokalkännedom så att du inte kör vilse och körkort är såklart ett måste.
  </p>

  <h4>Fotovärd</h4>
  <p>
    Ett sådant fantastiskt evenemang som MTD vill man ju återuppleva gång på gång och det görs bäst med bilder! Du får fria händer att fånga MTD uppifrån, nedifrån och alla tänkbara smickrande vinklar men du ska finnas där båda dagarna för att ta bilder på både mässa,  föreläsningar och bankett. Du behöver inte vara mästerfotografen själv men du måste ha tillgång till egen kamera.
  </p>

  <h4>Teknikvärd</h4>
  <p>
  Under mässan så kommer det hållas föreläsningar i K4 och dessa ska livesändas! För att kunna göra det så behöver vår teknikansvarig hjälp från några värdar som kan fixa mikrofonen åt föreläsarna och hjälpa dem få upp sina PowerPoint presentationen med projektorn. Sådant som aldrig går så lätt som det borde gå men med din hjälp går det självklart lite lättare.
  </p>

  <h4>Journalistvärd</h4>
  <p>
    Tillsammans med ett team ska du som journalistvärd intervjua föreläsare, företag och mässbesökare. Utifrån filmmaterialet ni samlar ihop ska ni klippa ihop korta filmer som ska visas på livestreamen mellan föreläsningarna. Så är du påhittig både framför och bakom kameran så sök journalistvärd!
  </p>
  <p>
    Efter dagarna så ska en presentationsfilm som sammanfattar årets mässa klippas ihop utifrån allt samlat material, videos såväl som bilder. Om du är filmintresserad och tycker det låter roligt så skriv att du är intresseras av att göra presentationsfilmen i övrigtrutan när du söker värd.
  </p>

  <h4>Konferencier</h4>
  <p>
    Vi kommer behöva två personer i K4 som presenterar föreläsarna för alla i salen och de som tittar via livestreamen. Efter föreläsningen ska du även tacka av föreläsaren och ställa eventuella frågor. Eftersom föreläsarna inte bara är från Sverige så är det bra om du är bekväm med att prata både svenska och engelska.
  </p>

  <h4>Eventvärd</h4>
  <p>
    Under dagarna så kommer det att pågå lite olika tävlingar och vi behöver hjälp med att hålla styr på dessa. Det kommer uppstå frågor och de ska du kunna svara på. Du ska rätta inlämnade svar och vara dommare till tuffa beslut. Sen så är det din uppgift att presentera den lyckliga vinnaren! Du jobbar en av dagarna men behöver vara där sålänge tävlingar pågår.
  </p>

  <h4>Gymnasievärd</h4>
  <p>
    Eftersom MTD är en så fantastisk händelse med så många inspirerande och intressanta inslag så har vi tillsammans med styrelsen bjudit in gymnasieelever som får ta del av dagarna. Som gymnasievärd guidar du dem runt MTDs mässa, StudentExpon och tar med dem på föreläsningar. Du visar även upp campus och hjälper till att berätta lite om MT och svara på frågor. Vi bjuder också tillsammans med Visualiseringscenter C in alla till en rundtur på och en visning i Domen. Du kommer att vara värd under en av dagarna. )
  </p>
</section>
