<div class="container">
  <section class="info limit-width">
		<h1> Banketten </h1> 
		<p class="lead">
      MTD 2016 avslutas traditionsenligt med en förstklassig bankett! Under kvällen kommer det att serveras god mat och bjudas på eminent underhållning. Det är ett perfekt tillfälle för studenter, företagsrepresentanter och föreläsare att umgås. 
    </p>
  </section>
  <section class="info row">
		<div class="col-sm-4">
      <%= image_tag "banquet/hall.jpg", alt: "Banketten 2014", class: "img-responsive" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "banquet/selfie.jpg", alt: "Banketten 2014", class: "img-responsive" %>
		</div>
		<div class="col-sm-4">
      <%= image_tag "banquet/group.jpg", alt: "Banketten 2014", class: "img-responsive" %>
    </div>
  </section>
  <section class="info limit-width">
    <p>
      Tyvärr har biljetterna för i år tagit slut, men om du är intresserad kan vi skriva upp dig på reservlistan! Hör i så fall av dig till <a href="mailto:madeleine@medieteknikdagarna.se">madeleine@medieteknikdagarna.se</a>!
    </p>
  </section>
	<br>
  <section class="info text-center">
    <h4>Snabbinfo</h4>
    <ul class="list-unstyled">
      <li><strong>När:</strong> torsdag, 7 mars - 19:00</li>
			 <li><strong>Var:</strong> Arbisteatern, Bredgatan 54</li> 
    </ul>
		<br>
    <h4>Priser</h4>
    <ul class="list-unstyled">
			<li>Studenter, Sektionsmedlem: 300kr</li>
      <li>Studenter, icke-sektionsmedlem: 350kr</li>
      <li>Övriga: 600kr</li> 
    </ul>
  </section>
	</div>
