<div class="container">
  <section class="info limit-width">
    <h1>
      Banketten
    </h1>
    <p class="lead">
      MTD 2015 kommer traditionsenligt att avslutas med en bankett. Där kommer det att bjudas på god mat och förstklassig underhållning.
    </p>
  </section>
  <section class="info row">
    <div class="col-sm-4">
      <%= image_tag "banquet/glass.jpg", alt: "Banketten 2014", class: "img-responsive" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "banquet/group.jpg", alt: "Banketten 2014", class: "img-responsive" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag "banquet/stage.jpg", alt: "Banketten 2014", class: "img-responsive" %>
    </div>
  </section>
  <section class="info limit-width">
    <p>
      Främst riktar sig banketten till MT-studenter och företag. Det kommer vara ett ypperligt tillfälle att umgås med företagsrepresentanter och föreläsare. Är du intresserad? Har du inte möjlighet att köpa biljett på plats på Campus innan banketten? Kontakta <a href="mailto:max@medieteknikdagarna.se">max@medieteknikdagarna.se</a>!
    </p>
    <p>
      <a href="https://www.facebook.com/events/738460009604792/">Du kan hitta ett Facebook-event för banketten här.</a> Där finns mer information om när och hur biljettförsäljningen går till.
    </p>
  </section>
  <section class="info limit-width">
    <h4>Snabbinfo</h4>
    <ul class="list-unstyled">
      <li><strong>När:</strong> torsdag, 26 mars, kl. 19.00</li>
      <li><strong>Var:</strong> Arbisteatern, Bredgatan 54</li>
      <li><strong>Dresscode:</strong> Mörk kostym</li>
    </ul>
    <h4>Prisinformation</h4>
    <ul class="list-unstyled">
      <li>Sektionsmedlem: 300kr</li>
      <li>Icke-sektionsmedlem: 350kr</li>
      <li>Övriga: 600kr</li>
    </ul>
  </section>
</div>
