<% body_class 'home header-scroll' %>
<% title '– ' + t('the_date') + ', Norrköping' %>
<div class="beamer">
  <div class="content header-scroll-target">
    <h1>
      <%= t('the_date') %> 2015, Norrköping
    </h1>
    <p class="lead">
      <%= t('.teaser') %>
    </p>
  </div>
</div>

<div class="container">
  <%= t('hello') %>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi illo culpa minus hic, quas quia ullam voluptatum nisi laudantium asperiores dolorum totam officia aliquam eum, nostrum deleniti provident distinctio!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi illo culpa minus hic, quas quia ullam voluptatum nisi laudantium asperiores dolorum totam officia aliquam eum, nostrum deleniti provident distinctio!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi illo culpa minus hic, quas quia ullam voluptatum nisi laudantium asperiores dolorum totam officia aliquam eum, nostrum deleniti provident distinctio!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi illo culpa minus hic, quas quia ullam voluptatum nisi laudantium asperiores dolorum totam officia aliquam eum, nostrum deleniti provident distinctio!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi illo culpa minus hic, quas quia ullam voluptatum nisi laudantium asperiores dolorum totam officia aliquam eum, nostrum deleniti provident distinctio!</p>
  <p>Quasi facilis ullam est possimus dolorum vel, exercitationem? Doloremque optio maiores quasi error quaerat fugit minima, nisi laborum, voluptatem animi nulla harum cum, et molestias aperiam nam? Dolor, tempora, soluta!</p>
  <p>Quasi facilis ullam est possimus dolorum vel, exercitationem? Doloremque optio maiores quasi error quaerat fugit minima, nisi laborum, voluptatem animi nulla harum cum, et molestias aperiam nam? Dolor, tempora, soluta!</p>
  <p>Quasi facilis ullam est possimus dolorum vel, exercitationem? Doloremque optio maiores quasi error quaerat fugit minima, nisi laborum, voluptatem animi nulla harum cum, et molestias aperiam nam? Dolor, tempora, soluta!</p>
  <p>Quasi facilis ullam est possimus dolorum vel, exercitationem? Doloremque optio maiores quasi error quaerat fugit minima, nisi laborum, voluptatem animi nulla harum cum, et molestias aperiam nam? Dolor, tempora, soluta!</p>
  <p>Quasi facilis ullam est possimus dolorum vel, exercitationem? Doloremque optio maiores quasi error quaerat fugit minima, nisi laborum, voluptatem animi nulla harum cum, et molestias aperiam nam? Dolor, tempora, soluta!</p>
  <p>Quod quaerat, corrupti ut laborum magni amet porro quos deserunt id, magnam rem velit obcaecati similique assumenda necessitatibus molestias cupiditate possimus explicabo laboriosam. Debitis veniam nesciunt hic minus aliquid blanditiis.</p>
  <p>Quod quaerat, corrupti ut laborum magni amet porro quos deserunt id, magnam rem velit obcaecati similique assumenda necessitatibus molestias cupiditate possimus explicabo laboriosam. Debitis veniam nesciunt hic minus aliquid blanditiis.</p>
  <p>Quod quaerat, corrupti ut laborum magni amet porro quos deserunt id, magnam rem velit obcaecati similique assumenda necessitatibus molestias cupiditate possimus explicabo laboriosam. Debitis veniam nesciunt hic minus aliquid blanditiis.</p>
  <p>Quod quaerat, corrupti ut laborum magni amet porro quos deserunt id, magnam rem velit obcaecati similique assumenda necessitatibus molestias cupiditate possimus explicabo laboriosam. Debitis veniam nesciunt hic minus aliquid blanditiis.</p>
  <p>Quod quaerat, corrupti ut laborum magni amet porro quos deserunt id, magnam rem velit obcaecati similique assumenda necessitatibus molestias cupiditate possimus explicabo laboriosam. Debitis veniam nesciunt hic minus aliquid blanditiis.</p>
  <p>Fugiat perferendis ipsam eaque quae unde rem vitae cupiditate tempore tempora neque, autem nostrum dicta laboriosam. Nihil omnis dicta repellat esse reprehenderit nemo cumque eum, consequuntur labore, laboriosam tempore dolore.</p>
  <p>Fugiat perferendis ipsam eaque quae unde rem vitae cupiditate tempore tempora neque, autem nostrum dicta laboriosam. Nihil omnis dicta repellat esse reprehenderit nemo cumque eum, consequuntur labore, laboriosam tempore dolore.</p>
  <p>Fugiat perferendis ipsam eaque quae unde rem vitae cupiditate tempore tempora neque, autem nostrum dicta laboriosam. Nihil omnis dicta repellat esse reprehenderit nemo cumque eum, consequuntur labore, laboriosam tempore dolore.</p>
  <p>Fugiat perferendis ipsam eaque quae unde rem vitae cupiditate tempore tempora neque, autem nostrum dicta laboriosam. Nihil omnis dicta repellat esse reprehenderit nemo cumque eum, consequuntur labore, laboriosam tempore dolore.</p>
  <p>Fugiat perferendis ipsam eaque quae unde rem vitae cupiditate tempore tempora neque, autem nostrum dicta laboriosam. Nihil omnis dicta repellat esse reprehenderit nemo cumque eum, consequuntur labore, laboriosam tempore dolore.</p>
  <p>Perferendis autem atque adipisci tempora hic. Rem, officiis qui amet nisi maxime laborum culpa necessitatibus. Sequi dolore aut, dolores dolorum velit, vero eos ab delectus libero, unde, facilis quibusdam voluptas?</p>
  <p>Perferendis autem atque adipisci tempora hic. Rem, officiis qui amet nisi maxime laborum culpa necessitatibus. Sequi dolore aut, dolores dolorum velit, vero eos ab delectus libero, unde, facilis quibusdam voluptas?</p>
  <p>Perferendis autem atque adipisci tempora hic. Rem, officiis qui amet nisi maxime laborum culpa necessitatibus. Sequi dolore aut, dolores dolorum velit, vero eos ab delectus libero, unde, facilis quibusdam voluptas?</p>
  <p>Perferendis autem atque adipisci tempora hic. Rem, officiis qui amet nisi maxime laborum culpa necessitatibus. Sequi dolore aut, dolores dolorum velit, vero eos ab delectus libero, unde, facilis quibusdam voluptas?</p>
  <p>Perferendis autem atque adipisci tempora hic. Rem, officiis qui amet nisi maxime laborum culpa necessitatibus. Sequi dolore aut, dolores dolorum velit, vero eos ab delectus libero, unde, facilis quibusdam voluptas?</p>
</div>
