<% title('– '+t('.title')) %>
<div class="container">
  <div class="info row">
    <div class="col-sm-8">
      <%= content_tag :h1, t('.title') %>
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.info') %>

      <div class="info">
        <%= render 'host_positions' %>
      </div>
    </div>


  </div>
</div>
