<% title '– ' + t('menu_sponsor') %>
<div class="container">
  <section class="info limit-width">
    <%= content_tag :h1, t('.title') %>
    <%= content_tag :p, t('.lead'), class: 'lead' %>
  </section>
</div>
