<% title '– ' + t('.title') %>
<% if @lectures.any? %>

<% else %>
  <!-- no lectures -->
  <div class="info container text-center limit-width info--large">
    <h1>
      <%= t('.title') %>
    </h1>
    <p class="lead">
      <%= t('.not_yet') %>
    </p>
    <p>
      <%= t('.pub') %>
      <%= link_to t('.pub_link'), 'https://www.facebook.com/events/459047377579156/' %>
    </p>
  </div>
<% end %>
