<p>
  Student Expo erbjuder dig som student en unik chans att visa upp dig för företag, besökare och medstudenter. Student Expo är en projektutställning som hålls parallellt med mässan, där tanken är att mässbesökare kan ta del av ert projekt i Student Expos monter. Det finns ingen begränsning till vilka projekt som får vara med, kursprojekt eller fritidsprojekt, vi vill se allt!
</p>

<p>
  Så här går det till:
</p>

<ol>
  <li>
    Fyll i det här formuläret innehållandes projektnamn, beskrivning samt en länk till en bild/film. Detta material är tänkt att skrivas ut och publiceras och finnas som komplement till projektet under utställningen. Ange huruvida ni behöver låna en visningdator (begränsat antal) eller kan använda er egen.
  </li>
  <li>
    Vänta på svar om ditt projekt blir utvalt
  </li>
  <li>
    Ta med dator eller utrustning till mässan
  </li>
</ol>
