<p>
  Student Expo offers you a unique opportunity to showcase you for companies, visitors and fellow students. Student Expo is a project exhibition held in parallel with the fair, where the visitors are invited to attend your project at the Student Expos booth. There is no limit to which projects may be included, course projects or leisure projects, we want to see everything possible!
</p>


<p>
  To register, fill out the form below.
</p>

<!--
<p>
  Så här går det till:
</p>

<ol>
  <li>
    Fyll i det här formuläret innehållandes projektnamn, beskrivning samt en länk till en bild/film. Detta material ska gärna kunnas skrivas ut och publiceras, och finnas som komplement till projektet under utställningen. Ange huruvida ni behöver låna en visningdator (begränsat antal) eller kan använda er egen.
  </li>
  <li>
    Vänta på svar om ditt projekt blir utvalt
  </li>
  <li>
    Ta med dator eller utrustning till mässan
  </li>
</ol>
-->
