<% title "– " + t('.title') %>
<section class="container limit-width">
  <div class="info">
    <%= content_tag :h1, t('.title') %>
    <%= content_tag :p, t('.info'), class: 'lead' %>
    <%= render 'info' %>
  </div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSczg4NbFqAIp0kURBB9ZTOuBGabvd1Vgmel7FrftH2TCldz6w/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Läser in...</iframe>
</section>
