<h3>
  Advertisment
</h3>
<h5>
  Your logotype will be shown...
</h5>
<ul>
  <li>On advertising posters</li>
  <li>In our slideshows on the various screens throughout the fair</li>
</ul>
<h5>
  Information about your company will be shown...
</h5>
<ul>
  <li>On a prioritized position at medieteknikdagarna.se</li>
  <li>In our application for Android and iOS</li>
</ul>
<h3>
  Unique advantages
</h3>
<ul>
  <li>Choose fair booth before non-partners</li>
  <li>Written interview with your company that will be posted on our social channels</li>
</ul>
<h4>
  You'll also get
</h4>
<ul>
  <li>Fair booth both days</li>
  <li>The ability to provide information and material to our goodie bags</li>
  <li>Support and advertising for your company's events</li>
</ul>
