<h3>
  Marknadsföring
</h3>
<h5>
  Vi kommer marknadsföra ditt företag i/på:
</h5>
<ul>
  <li>Broschyrer</li>
  <li>Marknadsföringsaffischer</li>
  <li>Bildspel mellan föreläsningar på MTDs streamingkanal</li>
</ul>
<h5>
  Med företages information i/på:
</h5>
<ul>
  <li>Prioriterad plats på MTDs hemsida</li>
</ul>
<h3>
  Unika fördelar
</h3>
<p>
  Som bronssponsor får företaget:
</p>
<ul>
  <li>Välja mässplats före ickesponsorer</li>
  <li>3 snabba frågor till företaget som postas på MTDs sociala flöden</li>
  <li>Bidra med egen bild som visas mellan föreläsningar på MTDs streamingkanal</li>
</ul>
<h4>
  Därtill erbjuds
</h4>
<ul>
  <li>Mässplats för båda dagarna</li>
  <li>Möjlighet att bidra med information och material till goodie bags</li>
  <li>Stöd & marknadsföring av företagets egna aktiviteter (case, tävlingar, utmaningar etc)</li>
</ul>
