<h3>
  Advertisment
</h3>
<h5>
  Your logotype will be shown...
</h5>
<ul>
  <li>In folders</li>
  <li>On advertising posters</li>
  <li>On our slideshow</li>
</ul>
<h5>
  Informatoin about your company will be shown...
</h5>
<ul>
  <li>On a prioritized position at medieteknikdagarna.se</li>
</ul>
<h3>
  Unique advantages
</h3>
<ul>
  <li>Choose fair booth before non-sponsors</li>
  <li>Short interview with your company that will be posted on our social channels</li>
  <li>Contribute with an image that will be shown on our live stream</li>
</ul>
<h4>
  You'll also get
</h4>
<ul>
  <li>Fair booth both days</li>
  <li>The ability to provide information and material to our goodie bags</li>
  <li>Support and advertising for your company's events</li>
</ul>
