<h3>
  Marknadsföring
</h3>
<h5>
  Vi kommer marknadsföra ditt företag i/på:
</h5>
<ul>
  <li>Marknadsföringsaffischer</li>
  <li>TV-skärmar runtom på mässan med en bild</li>
</ul>
<h5>
  Med företages information i/på:
</h5>
<ul>
  <li>Prioriterad plats på MTDs hemsida</li>
  <li>Applikation till Andorid i iOS</li>
</ul>
<h3>
  Unika fördelar
</h3>
<p>
  Som bronspartner får företaget:
</p>
<ul>
  <li>Välja mässplats före ickespartners</li>
</ul>
<h4>
  Därtill erbjuds
</h4>
<ul>
  <li>Mässplats för båda dagarna</li>
  <li>Möjlighet att bidra med information och material till 'goodie bags'</li>
  <li>Stöd & marknadsföring av företagets egna aktiviteter (case, tävlingar, utmaningar etc)</li>
</ul>
