<h3>Kontakta oss</h3>
<p>
  Är du sugen på att stötta MTD och bli sponsor? Kontakta Emma, så kan vi snacka mer om hur vi kan komma överens och hitta något som fungerar för oss båda.
</p>
<ul class="list-unstyled">
  <%= content_tag :li, link_to(icon('paper-plane') + ' emma@medieteknikdagarna.se', 'mailto:emma@medieteknikdagarna.se') %>
  <%= content_tag :li, link_to(icon('phone') + ' +4670-311 69 21', 'tel:+46703116921') %>
</ul>
