<p>
  Vi erbjuder även mässplatser, en utmärkt chans att träffa upp till 300 medieteknikstudenter. Det som ingår är:
</p>
<ul>
  <li>En 2x2 meter stor mässplats. Större plats går att beställa mot en extra kostnad.</li>
  <li>Ett ståbord, samt hjälp på plats av våra värdar. (Fler bord går att beställa mot en extra kostnad.)</li>
  <li>Vi presenterar ert företag i tryckt broschyr och på medieteknikdagarna.se.</li>
  <li>Fri internetuppkoppling under hela mässan.</li>
  <li>Lunch till företagsrepresentanterna går att beställa.</li>
</ul>
<p>
  Ni är välkomna antingen <strong>en dag</strong> för 3 000 SEK eller <strong>två dagar</strong> för 5 000 SEK.
</p>
