<p>
  Vi erbjuder även mässplatser, en utmärkt chans att träffa upp till 300 medieteknikstudenter. Det som ingår är:
</p>
<ul>
  <li>Mässplatsen är cirka 2x2 meter stor. Det går att beställa större plats för en mindre summa.</li>
  <li>Vi presenterar ert företag med er logotyp i vår applikation och på medieteknikdagarna.se.</li>
  <li>Under mässan kommer det finnas en företagsvärd (medieteknikstudent) som finns tillgänglig för att svara på frågor och hjälpa till.</li>
  <li>Lunch till företagsrepresentanterna går att beställa.</li>
  <li>Ett ståbord erhålles. Önskas fler går det att beställa mot en liten extra kostnad.</li>
  <li>Fri internetuppkoppling under hela mässan.</li>
</ul>
<p>
  Ni är välkomna antingen <strong>en dag</strong> för 4 000 SEK eller <strong>två dagar</strong> för 7 000 SEK (ingår för samarbetspartners).
</p>
