<p>
  We also offer fair booths without the sponsorship packages, an excellent chance to meet over 300 students. Here's what's included:
</p>
<ul>
  <li>A 2x2 meter big fair booth. More space can be ordered at an additional cost.</li>
  <li>We'll present your company in our app and at medieteknikdagarna.se.</li>
  <li>A host (student) available to help and answer questions</li>
  <li>Lunch for you company's representatives can be ordered.</li>
  <li>One table. (More tables can be ordered at an additional cost.)</li>
  <li>Free WiFi internet access throughout the fair.</li>
</ul>
<p>
  You choose between <strong>one day</strong> for 4 000 SEK or <strong>two days</strong> for 7 000 SEK.
</p>
