<h3>
  Marknadsföring
</h3>
<h5>
  Vi kommer marknadsföra ditt företag i/på:
</h5>
<ul>
  <li>Marknadsföringsaffischer</li>
  <li>Marknadsföringsflyers</li>
  <li>Bumper på bildmaterial som visas mellan föreläsningarna</li>
  <li>Hemsidans startsida</li>
  <li>Hemsidans header</li>
  <li>Cover photo på Facebook &amp; Twitter</li>
  <li>Roll ups som trycks upp inför MTD</li>
  <li>Goodie bags</li>
  <li>Värdtröjor</li>
</ul>
<h5>
  Med företages information i/på:
</h5>
<ul>
  <li>Prioriterad plats på MTDs hemsida</li>
  <li>Prioriterad plats i MTDs applikation för Android och iOS</li>
  <li>Hemsidans startsida</li>
</ul>
<h3>
  Unika fördelar
</h3>
<p>
  Som guldsponsor är ditt företag ett utav maximalt tre som får:
</p>
<ul>
  <li>Välja mässplats först av alla företag</li>
  <li>Medverkan i filmer som publiceras på våra sociala flöden</li>
  <li>Bidra med en två minuters showreel/reklamfilm (alt intervjun) som visas mellan föreläsningarna</li>
  <li>Möjlighet att posta en hälsning per månad (till studenter) via MTDs sociala flöden</li>
  <li>Egen föreläsning dagarna innan MTD</li>
  <li>Möjlighet att ha roll-up med på MTD-relaterade evenemang så som företags- och föreläsarsläpp, alumniträffar, sektionskvällar etc</li>
</ul>
<h4>
  Därtill erbjuds
</h4>
<ul>
  <li>Mässplats för båda dagarna</li>
  <li>Möjlighet att bidra med information & material till goodie bags</li>
  <li>Stöd & marknadsföring av företagets egna aktiviteter (case, tävlingar, utmaningar etc) på mässan och via MTD appen</li>
  <li>Möjlighet att publicera egen information på MTDs hemsida</li>
  <li>Möjlighet till företagsvärd som är påläst om företaget & kan bevaka mässplatsen när företagets representanter vill ta paus</li>
</ul>
