<h3>
  Advertisment
</h3>
<h5>
  Your logotype will be shown...
</h5>
<ul>
  <li>In folders</li>
  <li>On advertising posters</li>
  <li>On our slideshow</li>
  <li>In advertising flyers</li>
  <li>On the front page of medieteknikdagarna.se</li>
  <li>On our goodiebags</li>
  <li>On the header of medieteknikdagarna.se</li>
  <li>On our cover photo on Facebook</li>
  <li>All our video material</li>
  <li>On our rollups during the fair</li>
  <li>On our volonteers' shirts during the fair</li>
</ul>
<h5>
  Informatoin about your company will be shown...
</h5>
<ul>
  <li>On a prioritized position at medieteknikdagarna.se</li>
  <li>On the front page of medieteknikdagarna.se</li>
</ul>
<h3>
  Unique advantages
</h3>
<p>
  As a gold sponsor, your company will be one out of maximum three who will get:
</p>
<ul>
  <li>To choose fair booth first</li>
  <li>A visit from a MTD representative for an interview with someone from your company</li>
  <li>To show a two-minuite movie on our live stream</li>
  <li>The ability to say Hi to the students through our Facebook and Twitter account once/month</li>
  <li>A 15 minute presentation in connection to a lecture</li>
  <li>The ability to have your company's roll-up on MTD events before the fair</li>
</ul>
<h4>
  You'll also get
</h4>
<ul>
  <li>Fair booth both days</li>
  <li>The ability to provide information and <span class="translation_missing">stuff</span> to our goodie bags</li>
  <li>Support and advertising for your company's events</li>
  <li>The ability to publish your own material on our website</li>
  <li>Access to a host that will be able to watch your booth if your representatives need a break</li>
</ul>
