<h3>
  Advertisment
</h3>
<h5>
  Your logotype will be shown...
</h5>
<ul>
  <li>On advertising posters</li>
  <li>In advertising flyers</li>
  <li>Bumper on image material shown between the lectures</li>
  <li>On the front page of medieteknikdagarna.se</li>
  <li>On the header of medieteknikdagarna.se</li>
  <li>On our cover photo on Facebook and Twitter</li>
  <li>On our rollups during the fair</li>
  <li>On our goodiebags</li>
  <li>On our volunteers' shirts during the fair</li>
</ul>
<h5>
  Information about your company will be shown...
</h5>
<ul>
  <li>On a prioritized position at medieteknikdagarna.se</li>
  <li>On a prioritized position in our application for Android and iOS</li>
  <li>On the front page of medieteknikdagarna.se</li>
</ul>
<h3>
  Unique advantages
</h3>
<p>
  As a gold sponsor, your company will be one out of maximum three who will get:
</p>
<ul>
  <li>To choose fair booth first</li>
  <li>Longer reportage instead of shorter interview, posted on our social media</li>
  <li>To show a two-minute movie on the screens throughout the fair</li>
  <li>The ability to have a greeting to the students published on our Facebook and Twitter accounts once a month</li>
  <li>A 15 minute presentation in connection to a lecture</li>
  <li>The ability to have your company's roll-up on MTD events leading up to the fair</li>
</ul>
<h4>
  You'll also get
</h4>
<ul>
  <li>Fair booth on both days</li>
  <li>The ability to provide information and material to our goodie bags</li>
  <li>Support and advertising for your company's events</li>
  <li>The ability to publish your own material on our website</li>
  <li>Access to a host that will be able to watch your booth if your representatives need a break</li>
</ul>
