<h4>V책ra sponsorpaket</h4>
<p>
  Vi erbjuder flera sponsorpaket. H채r kan du l채sa mer om vad de olika paketen inneh책ller.
</p>
<ul class="list-unstyled">
  <li><%= link_to 'Guldpaketet', sponsorship_gold_path %></li>
  <li><%= link_to 'Silverpaketet', sponsorship_silver_path %></li>
  <li><%= link_to 'Bronspaketet', sponsorship_bronze_path %></li>
</ul>
