<h4>
  Våra sponsorpaket &ndash; <%= link_to 'Jämför paketen', sponsorship_compare_path %>
</h4>
<p>
  Vi erbjuder flera sponsorpaket. Här kan du läsa mer om vad de olika paketen innehåller.
</p>
<ul class="list-unstyled">
  <li><%= link_to 'Guldavtalet', sponsorship_gold_path %></li>
  <li><%= link_to 'Silveravtalet', sponsorship_silver_path %></li>
  <li><%= link_to 'Bronsavtalet', sponsorship_bronze_path %></li>
</ul>
