<h4>
  Our sponsor packages
</h4>
<p>
  We offer several sponsorship packages. Here you can read more about what they contain.
</p>
<ul class="list-unstyled">
  <li><%= link_to 'Gold', sponsorship_gold_path %></li>
  <li><%= link_to 'Silver', sponsorship_silver_path %></li>
  <li><%= link_to 'Bronze', sponsorship_bronze_path %></li>
</ul>
