<h3>
  Marknadsföring
</h3>
<h5>
  Vi kommer marknadsföra ditt företag i/på:
</h5>
<ul>
  <li>Broschyrer</li>
  <li>Marknadsföringsaffischer</li>
  <li>Bildspel mellan föreläsningar på MTDs streamingkanal</li>
  <li>Marknadsföringsflyers</li>
  <li>Hemsidans startsida</li>
</ul>
<h5>
  Med företages information i/på:
</h5>
<ul>
  <li>Prioriterad plats på MTDs hemsida</li>
</ul>
<h3>
  Unika fördelar
</h3>
<ul>
  <li>Välja mässplats före brons- och ickesponsorer</li>
  <li>Mailintervju med företaget som postas på MTDs sociala flöden</li>
  <li>Bidra med eget bildmaterial (max 20 sekunder långt) som visas mellan föreläsningar på MTDs streamingkanal</li>
  <li>Möjlighet att lägga ut 1 hälsning (till studenter) via MTDs sociala flöden</li>
</ul>
<h4>
  Därtill erbjuds
</h4>
<ul>
  <li>Mässplats för båda dagarna</li>
  <li>Möjlighet att bidra med information & material till goodie bags</li>
  <li>Stöd & marknadsföring av företagets egna aktiviteter (case, tävlingar, utmaningar etc)</li>
  <li>Möjlighet att posta egen information på MTDs hemsida</li>
  <li>Möjlighet till företagsvärd som är påläst om företaget & kan bevaka mässplatsen när företagets representanter vill ta paus</li>
</ul>
