<h3>
  Marknadsföring
</h3>
<h5>
  Vi kommer marknadsföra ditt företag i/på:
</h5>
<ul>
  <li>Marknadsföringsaffischer</li>
  <li>Marknadsföringsflyers</li>
  <li>Bumper på bildmaterial som visas mellan föreläsningarna</li>
  <li>Hemsidans startsida</li>
  <li>Rollups</li>
</ul>
<h5>
  Med företagets information i/på:
</h5>
<ul>
  <li>Prioriterad plats på MTDs hemsida</li>
  <li>Prioriterad plats i Applikation till Android och iOS</li>
</ul>
<h3>
  Unika fördelar
</h3>
<ul>
  <li>Välja mässplats före brons- och ickepartners</li>
  <li>Bidra med bildspelsmaterial (upp till 20 sek) som visas på TV-skärmarna runtom på mässan</li>
</ul>
<h4>
  Därtill erbjuds
</h4>
<ul>
  <li>Mässplats för båda dagarna</li>
  <li>Möjlighet att bidra med information & material till goodie bags</li>
  <li>Stöd & marknadsföring av företagets egna aktiviteter (case, tävlingar, utmaningar etc) via MTD-appen</li>
  <li>Möjlighet att posta egen information på MTDs hemsida</li>
</ul>
