<h3>
  Advertisment
</h3>
<h5>
  Your logotype will be shown...
</h5>
<ul>
  <li>On advertising posters</li>
  <li>In advertising flyers</li>
  <li>Bumper on image material shown between the lectures</li>
  <li>On the front page of medieteknikdagarna.se</li>
  <li>On rollups</li>
</ul>
<h5>
  Information about your company will be shown...
</h5>
<ul>
  <li>On a prioritized position at medieteknikdagarna.se</li>
  <li>On a prioritized position in our application for Android and iOS</li>
</ul>
<h3>
  Unique advantages
</h3>
<ul>
  <li>Choose fair booth before bronze and non-partners</li>
  <li>Have image slides up to 20 seconds longs displayed on TV screens throughout the fair</li>
</ul>
<h4>
  You'll also get
</h4>
<ul>
  <li>Fair booth both days</li>
  <li>The ability to provide information and material to our goodie bags</li>
  <li>Support and advertising for your company's events</li>
  <li>The ability to publish your own material on our website</li>
</ul>
