<p>
  MTD2016 invites high school level students for the ninth year in a row. Are you interested in organizing a trip for high school students to MTD2016? Please contact our coordinator Carl, and he'll tell you everything you need.
</p>
