<p>
  För åttonde året i rad vill vi bjuda in tredjeårselever från gymnasiet till MTD. Intresserade första- och andraårselever samt de som redan har slutat gymnasiet är såklart också välkomna. Besöket kommer att vara ett halvdag långt studiebesök där eleverna kommer få besöka MTD-mässan samt gå på en gästföreläsning. Det bjuds även på en rundtur av campus och möjlighet att ställa frågor.
</p>
<p>
  Besöken är kostnadsfria, men allt sker i mån av plats, det är alltså först till kvarn som gäller. Förtur till platserna har natur- och teknikklasser, dvs. de som har behörighet att söka civilingenjörsprogram, men även andra utbildningar (t.ex. medieelever) är varmt välkomna. Om du eller din klass är intresserade, kontakta koordinator Carl Englund så hör vi av oss med mer information.
</p>
