<p>
  MTD2015 invites high school level students for the eighth year in a row. Are you interested in organizing a trip for high school students to MTD2015? Please contact our coordinator Karin, and she'll tell you everything you need.
</p>
