<p>
  Medietekniksektionen har sedan 2001 arrangerat Medieteknikdagarna – MTD. MTD har under en decennium utvecklats från en dag i en föreläsningssal till att pågå under två dagar med mässa, föreläsningar, sittning och C Awards.
</p>
<p>
  Gruppen som anordnar MTD består av tolv engagerade medieteknikstudenter från varierande årskurser. Under drygt ett halvår hålls möten och MTD (med mässa, föreläsare, bankett) växer fram. Under själva mässdagarna är 20-30 studenter engagerade som värdar av olika slag.
</p>
<p>
  MTD erbjuder studenter en möjlighet att knyta kontakter med företag, ställa frågor om karriärval och ordna examensarbeten eller praktikplatser. För utställarna är det en chans att marknadsföra sig själva mot potentiella framtida medarbetare.
</p>
<p>
  Föreläsningarna som hålls av exjobbare och gästföreläsare är tänkta att vara inspirerande och ge lite extra energi till de duktigt hårt studerande medieteknikstudenterna.
</p>
