<p>
  The Media Technology programme at Linköpings University in Norrköping, Sweden has since 2001 organized the Media Technology Days – MTD. Over the course of two days a series of lectures will be given in parallell to a work fair and a competition for students wishing to showcase their work to industry professionals. MTD has, in the span of a decade, evolved from a simple day in a lecture room to becoming a venue where students meet with world leading entrepreneurs and researchers as well as established and upcoming companies, to inspire and be inspired by what’s in store for the future of media technology.
</p>

<p>
  The group of twelve who organize MTD are all passionate Media Technology students ranging from first-year students to near-graduates. Close to six months are spent together, having weekly meetings, doing the hard work needed to pull it all off, and watching the MTD grow into what it is. During the event twenty to thirty students are active in making things work as smoothly as possible.
</p>

<p>
  It is a fantastic opportunity for students to be able to network with future employers, ask questions regarding career choice, find internships, and the ability to be inspired by things maybe previously unknown. For companies and organizations who come to meet our students it is an equally great opportunity to meet, and possibly shape, future employees, colleagues and friends.
</p>

<p>
  The lectures are held by graduate students and guest lecturers from all disciplines of media technology and continue, year after year, to inspire hard working students not to give up when their studies may seem a little too tough.
</p>

<p>
  We welcome everybody (yes, our doors are open to everybody!) to partake in the greatest media technology event in Sweden!
</p>
