<p class="lead">
  Civilingenjörsprogrammet i Medieteknik är programmet där tekniken gifter sig med kreativiteten.
</p>
<p>
  Resultatet blir en unik spetskompetens inom områden som blir allt viktigare. Klassiska ingenjörsämnen blandas med programmering, visualisering, datorgrafik, interaktionsdesign, ljud och mycket mer.
</p>
<p>
  Utbildningen är belägen på universitets campus Norrköping, med närhet till Visualiseringscenter C, och på så vis till världsledande forskning.
</p>
<p>
  Läs mer om medieteknikprogrammet på sektionens hemsida <%= link_to "medieteknik.nu", "http://medieteknik.nu" %> samt på <%= link_to "liu.se/medieteknik", "http://liu.se/medieteknik" %>.
</p>
