<p>
  The Media Technology master’s programme is where technology and creativity meets as one. The result is a unique cutting-edge expertise within fields constantly growing in importance. Media Technology combines traditional engineering courses with programming, visualization, computer graphics, interaction design, sound and a whole lot more.
</p>
<p>
  The programme resides on Norrköping campus, within close proximity of Visualiseringscenter C, and in that sense to world-leading research.
</p>
