<div class="page-title">
  <div class="container">
    <h1 class="ui header">
      <%= semantic_icon 'photo' %>
      <div class="content">
        Photos
        <div class="sub header">
          PHOTOS!
        </div>
      </div>
    </h1>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "ui message #{key}" %>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render_breadcrumbs %>
</div>
