/*
 *= require_self
 */

// settings
@import "variables";
@import "mixins";
@import "fonts";

// libs
@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "nprogress";
@import "nprogress-bootstrap";

// templates
@import "header";
@import "footer";

@import "static_pages";
@import "forms";

html,
body,
body > #content{
  width: 100%;
  height: 100%;
}

#content > :nth-child(2):not(.beamer) {
  padding-top: $header-height;
}

// mobile
@media only screen and (max-width: $screen-sm-max) {
  #content {
    position: relative;
    left: 0;
    @include transition(left .3s ease-in-out);
  }
}

.button {
  @extend .btn, .btn-primary;

  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .15em;
  border: 0;
  transition: all .2s ease;
}

// icons and such
.cross-icon {
  background-repeat: no-repeat;
  @include background-img('icons/white_cross', contain);
}
@for $i from 6 through 10 {
  .fa.fa-#{$i}x {
    font-size: #{$i}em;
  }
}

.translation_missing {
  background: red !important;
}

