/*
 *= require_self
 */

// settings
@import "variables";
@import "fonts";

// libs
@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// templates
@import "header";
@import "footer";

@import "static_pages";

html,
body,
body > #content{
  width: 100%;
  height: 100%;
}

#content > :nth-child(2):not(.beamer) {
  padding-top: $header-height;
}

// mobile
@media only screen and (max-width: $screen-sm-max) {
  #content {
    position: relative;
    left: 0;
    @include transition(left .3s ease-in-out);
  }
}

.button {
  @extend .btn, .btn-primary;

  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .15em;
  border: 0;
  transition: all .2s ease;
}
