article.show-company {
  @include make-row();
  .company-info {
    @include make-sm-column(4);

    img {
      @extend .img-responsive;
    }
  }
  .company-body {
    @include make-sm-column(8);
  }
}

.companies-row {
  text-align: center;
  @include make-row();

  article.company {


    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 200px;
      max-height: 100%;
    }
  }

  &.gold article.company {
    @include make-sm-column(6);

    img {
      margin-bottom: 15px;
      max-width: 300px;
    }
  }
  &.silver article.company {
    margin-bottom: 20px;
    @include make-sm-column(4);

    img {
      max-width: 250px;
    }
  }
  &.bronze article.company {
    @include make-sm-column(3);
  }
  &.fair article.company {
    @include make-sm-column(3);
  }

  @media screen and (min-width: $screen-sm-min) {
    .wrap {
      position: relative;
      margin-bottom: 15px;
      width: 100%;

      img {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &.gold .wrap {
      height: 300px;
    }
    &.silver .wrap {
      height: 250px;
    }
    &.fair .wrap {
      height: 200px;
    }
    &.bronze .wrap {
      height: 200px;
    }
  }
}

// booth selecting
.booth-img {
  display: block;
  max-width: 100%;

  .disabled {
    opacity: .2;
  }
  .choose:not(.disabled)[data-value] {
    cursor: pointer;

    &:hover {
      opacity: .9;
    }
  }
}

// public map
.map svg #booth_names text {
  @extend .visible-xs-inline;
}
