#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: $header-padding 0;
  background: rgba(#fff, .9);
  border-bottom: 1px solid rgba($gray, .5);

  @include transition (all .2s ease-in-out);

  .header-scroll &.transparent {
    color: #fff;
    background: transparent;
    border-bottom-color: transparent;
  }

  .brand {
    float: left;

    .name {
      font-weight: bold;
      padding-left: $header-padding;
    }
  }
}

// nav
#header > nav {
  @extend .container;
  text-transform: uppercase;
  line-height: $header-height - 2 * $header-padding;

  .menu {
    @extend .list-inline;
    @extend .hidden-xs;

    &.right {
      @extend .pull-right;
    }
    &.left {
      @extend .pull-left;
      margin-left: 4 * $header-padding;
    }
  }
}

#header .menu .sponsor {
  font-weight: bold;
}
