#header {
  // position: fixed;
  // top: 0;
  // left: 0;
  z-index: 10;
  width: 100%;
  // height: $header-height;
  padding: $header-padding 0;
  font-family: $font-family-sans-serif;
  background: rgba(#fff, .9);
  border-bottom: 1px solid rgba($gray, .5);

  &.detached {
    padding-bottom: $header-height;
  }

  &.transparent {
    position: absolute;
    color: #fff;
    background: transparent;
    border-bottom-color: transparent;

    a {
      color: #fff;
    }
    .mtd .logo {
      @include background-img('header/white', contain);
    }
    .sponsor.ge {
      background-image: image-url('sponsors/ge_gray.png');
    }
    .sponsor.autodesk {
      background-image: image-url('sponsors/autodesk_gray.png');
    }
  }

  .mtd {
    @extend .hidden-xs;
    float: left;
    line-height: $header-logo-height;
    font-size: 30px;
    font-weight: bold;
    color: #000;

    .year {
      font-weight: normal;
    }
    .logo {
      display: inline-block;
      float: left;
      height: $header-logo-height;
      width: $header-logo-height;
      background-repeat: no-repeat;
      @include background-img('header/logo', contain);
    }
  }

  .sponsor {
    @extend .hidden-xs;
    float: right;
    width: 22%;
    height: $header-logo-height;
    margin: 0 0 0 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.ge {
      background-image: image-url('sponsors/ge.png');
    }
    &.autodesk {
      background-image: image-url('sponsors/autodesk.png');
    }
  }
}

// nav
#header > nav {
  text-transform: uppercase;
  line-height: $header-height - 2 * $header-padding;
  padding-top: 15px;

  @include transition (background .2s ease-in-out);

  .togglemenu {
    margin-top: 8px;
  }

  .brand {
    float: left;
    display: none;

    .logo {
      display: inline-block;
      float: left;
      height: $header-height - 2*$header-padding;
      width: $header-height - 2*$header-padding;
      background-repeat: no-repeat;
      @include background-img('header/logo', contain);
    }
  }

  .menu {
    @extend .list-inline;
    @extend .hidden-xs;
    margin-bottom: 0;

    &.right {
      @extend .pull-right;
    }

    &.left {
      @extend .pull-left;
    }
    &.left a {
      padding: 2 * $header-padding;
    }

    .sponsor {
      font-weight: bold;
    }

    .lang a img {
      /* don't look at this. just dont. */
      margin-top: -2px;
      height: 17px;
    }
  }
}

#header.detached > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(#fff, .9);
  border-bottom: 1px solid rgba($gray, .5);
  padding: $header-padding 0;

  a {
    color: $orange;
  }
  .brand {
    display: block;
  }
  .menu.left {
    margin-left: 2 * $header-padding;
  }
}

// mobile
#mobile-nav {
  width: $mobile-header-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  background: $gray-dark;
  color: darken(#fff, 5%);
  font: $font-size-base * 1.1 $font-family-sans-serif;
  overflow: auto;
  @include transition(all .3s ease-in-out);

  .expand-nav & {
    // @extend .container;
    left: 100% - $mobile-header-width;
  }

  .cross-icon {
    @extend .pull-right;
    height: 20px;
    width: 20px;
    margin-top: 16px;
  }

  header {
    height: $header-height;
    line-height: $header-height;
    border-bottom: 1px solid $gray;
    padding: 0 15px;
  }
  footer {
    border-top: 1px solid $gray;
    padding: 15px;
  }
}

.expand-nav > #content,
.expand-nav #header {
  left: -1 * $mobile-header-width;
}

#mobile-nav .menu {
  @extend .list-unstyled;
  margin: 0;

  li {
    padding: 15px;
  }
}
