// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$image-width: 100px;
// Don't want entire library because it gets applied everywhere
@import "semantic-ui/elements/list";
@import "semantic-ui/elements/image";

.lecture {
  @include make-row();

  .day {
    @include make-sm-column(6);

    .schedule {
      border-left: 1px solid #ccc;
      @include clearfix;
    }
  }
  .day-header {
    text-align: center;
    margin-bottom: 20px;
  }
}

// 2015
.schedule article {
  width: 100%;
  margin: 40px 0;
  @include clearfix;

  img {
    width: $image-width;
    float: right;
  }
  h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 10px 5px;
    margin: 0;
  }
  h4 {
    padding: 5px 10px;
    font-weight: 300;
    margin: 0;
    font-size: $font-size-base;
    .time {
      font-weight: 700;
    }
  }
  p {
    padding: 5px 10px;
  }
  &.image :not(img):not(p) {
    width: calc(100% - #{$image-width});
  }
}

@media (min-width: $screen-sm-min) {
  .schedule.two article.image > :not(img) {
    float: right;
  }
  .schedule.two article.image img {
    float: left;
  }
  .schedule p {
    width: calc(100% - #{$image-width});
  }
  .lecture .day .schedule.two {
    border-left: 0;
    border-right: 1px solid #ccc;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .lecture h3 {
    margin-top: 0;
  }
}
