.beamer {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-height: 1000px;
  height: 100%;

  .home & {
    background: $gray;
    color: #fff;
    @include background-photo('beamer/fair-2', cover);

    h2 {
      font-size: floor($font-size-base * 1.6);
      font-weight: 300;
      letter-spacing: .06em;
      text-transform: uppercase;
    }
  }

  :first-child {
    margin-top: 0;
  }

  .content {
    @extend .container;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  footer {
    @extend .hidden-xs;
    width: 100%;
    position: absolute;
    bottom: 30px;
    letter-spacing: .06em;
    text-transform: uppercase;

    ul {
      @extend .list-inline, .text-center;
    }
    a {
      color: #fff;
    }
  }

}

.beamer h1 {
  margin: 24px 0;

  @media (min-width: $screen-sm-min) {
    font-size: 57px;
  }

  a {
    color: white;

    &:hover {
      color: darken(white, .9);
      text-decoration: none;
    }
  }
}

.limit-width {
  max-width: $screen-sm-min;

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
  &.narrow {
    max-width: .7*$screen-sm-min;
  }
}

.info {
  margin-top: 40px;
  margin-bottom: 40px;
  word-wrap: break-word;

  &.info--large {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.person {
  @include make-sm-column(3);

  h3 {
    font-size: 25px;
  }
  .contact {
    @extend .list-unstyled;

    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  img {
    @extend .img-responsive;
  }
}

// TODO clean this up
.ribbon {
  padding: 40px 0;
  background: $gray-light;

  h3 {
    border-bottom: 1px solid lighten($gray, 10%);
  }
}

.gray-box {
  padding: 20px;
  background: $gray-light;

  &>:first-child {
    margin-top: 0;
  }
  &>:last-child {
    margin-bottom: 0;
  }
}

.deals {
  @include make-row();
  margin-bottom: 30px;

  .deal {
    @include make-sm-column(4);
    margin-bottom: 30px;

    @media screen and (max-width: $screen-xs-max) {
      margin-bottom: 80px;
    }

    .button {
      margin-top: 20px;
      padding: 10px 18px;
      background: $orange;
    }
    .button:hover {
      background: darken($orange, 10%);
    }
  }
}

.deals .deal ul {
  @extend .list-unstyled;

  li {
    margin-bottom: 7px;

    &.strong {
      font-weight: bold;
    }
  }
}

.comparision .perk {
  padding: 10px 0;
  @include make-row();

  &:nth-child(even) {
    background: $gray-light;
  }

  .text {
    @include make-sm-column(6);
  }
  .cross {
    @extend .text-center;
    @include make-sm-column(2);
    @include make-xs-column(4);
  }
  .cross .marked {
    background-repeat: no-repeat;
    background-size: contain !important;
    display: inline-block;
    height: 17px;
    width: 17px;
    @include background-img('icons/cross');
  }
  .deal {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain !important;
    display: inline-block;
    &.gold {
      @include background-img('medals/gold');
    }
    &.silver {
      @include background-img('medals/silver');
    }
    &.bronze {
      @include background-img('medals/bronze');
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .comparision .perk .cross {
    .marked {
      margin-top: 5px;
      height: 35px;
      width: 35px;
    }
    &:nth-child(2) .marked {
      @include background-img('medals/gold');
    }
    &:nth-child(3) .marked {
      @include background-img('medals/silver');
    }
    &:nth-child(4) .marked {
      @include background-img('medals/bronze');
    }
  }
}

// silver sponsors on home
.silver-sponsor img {
  max-width: 200px;
  width: 100%;
  margin: 20px auto;
}
