// colors
$black: #13283c;
$gray: #3b484f;
$gray-light: #EFEFEF;
$gray-dark: $black;
$orange: #EC6610;

$footer-background: $black;

$nprogress-color: $orange;

// metrics
$header-height: 60px;
$header-logo-height: 90px;
$header-padding: 5px;
$mobile-header-width: 80%;

// bootstrap vars
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:600,700|Lato&subset=latin-ext');

$font-family-sans-serif: "Lato" ,"Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "Bitter", Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

$line-height-base: 1.6;

$font-size-base: 15px;

$headings-font-family: "Barlow";
$headings-font-weight: bold;

$link-color: $orange;
$text-color: $black;
