<%= render 'header' %>

<p style="margin: 0 0 15px;">
  Hej, <%= @resource.name.split[0].humanize %>!
</p>

<p style="margin: 0 0 15px;">
  Någon, förhoppningsvis du, har begärt en länk för att ändra ditt lösenord på <a href="http://medieteknikdagarna.se" style="color: #f58223;text-decoration: none;">medieteknikdagarna.se</a>. Du kan göra det genom att klicka på knappen nedan.
</p>

<p style="margin: 0 0 15px;">
  <%= link_to 'Ändra lösenord', edit_password_url(@resource, reset_password_token: @token), class: 'button', style: 'color: white;text-decoration: none;background: #f58223;border: 0;display: inline-block;font-size: .9em;letter-spacing: .15em;margin-bottom: 0;padding: 10px 18px;text-transform: uppercase;' %>
</p>

<p style="margin: 0 0 15px;">
  Om det inte var du som bad att få byta lösenord, ignorera detta mail. Ditt lösenord ändras inte förrän du klickar på knappen ovan och skapar ett nytt.
</p>

<%= render 'footer' %>

