<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= link_to t('change_lang'), url_for(locale: (I18n.locale == :en ? 'sv' : 'en')) %>
    </div>
  </div>
</div>
