<nav>
  <%= link_to image_tag('http://placekitten.com/g/50/50'), home_path %>

  <ul class="menu left">
    <li>

    </li>
  </ul>

  <ul class="menu right">
    <li>
      <%= link_to t('menu_sponsor'), sponsorship_path, class: 'sponsor' %>
    </li>
  </ul>
</nav>
