<nav>
  <%= link_to image_tag('http://placekitten.com/g/50/50', alt: 'MTD') +
    content_tag(:span, t('short_name'), class: 'name'), home_path, class: 'brand'%>

  <%= render 'layouts/menu' %>
</nav>
