<ul class="menu left">
  <%= content_tag :li, link_to(t('menu_about'), '/') %>
  <%= content_tag :li, link_to(t('menu_contact'), '/') %>
</ul>

<ul class="menu right">
  <li>
    <%= link_to t('menu_sponsor'), sponsorship_path, class: 'sponsor' %>
  </li>
</ul>
